body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: yellow;
}

.box3 {
  background-color: pink;
}

.box4 {
  background-color: blue;
}

.box5 {
  background-color: orange;
}

.box6 {
  background-color: purple;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr, 2fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
}

.header {
  background-color: cornflowerblue;
  grid-column: 1 / 4;
  text-align: center;
}

.main {
  background-color: grey;
  font-weight: bold;
  grid-column: 2;
}

.footer {
  background-color: black;
  color: white;
  grid-column: 1/ 4;
}
